notificacao_webhook.json
{
  "name": "EscolaZap – Notificação Dashboard",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notificar-escola",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "es-wh-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "notificar-escola"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "id": "es-wh-0001-0001-0001-000000000002",
      "name": "Responder 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [480, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.automacaopme.com.br/message/sendText/Bot_Escola",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "F5E45E6A06AC-4857-807A-923D226DE8E1"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.number }}"
            },
            {
              "name": "text",
              "value": "={{ $('Webhook').item.json.body.text }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "es-wh-0001-0001-0001-000000000003",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Responder 200", "type": "main", "index": 0 },
          { "node": "Enviar WhatsApp", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true },
  "tags": ["escola", "notificacao"]
}
